@import '@angular/material/prebuilt-themes/purple-green.css';

html, body { 
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
}

/* Customisation des scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #673ab7;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9a67ea;
}